name: CI

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Tools (.tool-versions)
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

  # test:
  #   name: Test
  #   runs-on: ubuntu-22.04
  #   permissions:
  #     contents: read

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

  #     - name: Setup Tools (.tool-versions)
  #       uses: asdf-vm/actions/install@05e0d2ed97b598bfce82fd30daf324ae0c4570e6 # v3.0.2

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Run test
  #       run: npm run test

  eslint:
    name: ESLint
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Tools (.tool-versions)
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1

      - name: Install dependencies
        run: npm ci

      - name: Run test
        run: npm run lint

  format:
    name: Format
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Tools (.tool-versions)
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1

      - name: Install dependencies
        run: npm ci

      - name: Run test
        run: npm run format
